In [3]:
import requests
from msal import ConfidentialClientApplication
import pandas as pd
from io import BytesIO

tenant_id = "a97fabf3-bbf0-4577-93ac-83a28408f656"
client_id = "7fbcb8fd-4c00-4c87-ae6d-4a92dffaca3d"
client_secret = "O-38Q~9EkiqtztC-pVHQyXKqzkyI3e-vgfjm0c_y"
authority = f"https://login.microsoftonline.com/{tenant_id}"
site_url = "pthpam.sharepoint.com:/sites/TimData"

app = ConfidentialClientApplication(client_id, authority=authority, client_credential=client_secret)
token_response = app.acquire_token_for_client(scopes=["https://graph.microsoft.com/.default"])

if "access_token" not in token_response:
    print("Failed to retrieve token:", token_response)
    exit()

token = token_response["access_token"]
headers = {"Authorization": "Bearer " + token}
drive_id = "b!DGzrhjoRS0SURi9dB3X6hZ7cBgilx8dDg89O7mO0pk-JzX9MOAErSpXd3qQAIuv0"
file_id = "01VUCGGEAWWLF3HTZV3NGKCRKH3LXAE3UX"  # master_kpd.xlsx

# Download and Read "master_kpd.xlsx" into a DataFrame
response = requests.get(f"https://graph.microsoft.com/v1.0/drives/{drive_id}/items/{file_id}/content", headers=headers)
if response.status_code == 200:
    df_kpd = pd.read_excel(BytesIO(response.content))
    print("Excel file read into DataFrame successfully!")
    print(df.head())  # Display the first 5 rows of the DataFrame
else:
    print("Failed to download Excel file:", response.status_code)
    print(response.text)

Excel file read into DataFrame successfully!
                        Nama KPD              SID         Fund Code  \
0                  Arief Effendi  IDD241125426718  HP002DFCARIFND00
1  DANA PENSIUN GARUDA INDONESIA  PFD010191266377  HP002DFCDPGAHP00
2         Dana Pensiun Perhutani  PFD250727028068  HP002DFCDPPHTN00
3                 DPLK JIWASRAYA  PFD160878727093  HP002DFCHPAMJR00
4               Ir Basuki Widodo  IDD1911E0126961  HP002DFCBSKWDO00

                                   Nomor Kontrak  Tanggal Kontrak  \
0   0273/DIR-HPAM/II/2021, B.235-INV/CDN/02/2021         20210219
1                                             12         20191014
2                          SPPJ/001/HPAM/II/2015         20150227
3                          1595/DIR-HPAM/XI/2016         20161128
4  1646/DIR-HPAM/VI/2021, B.1496-INV/CDN/09/2021         20210913

   Tanggal Jatuh Tempo                                     Nomor Adendum  \
0             20220219  0921/DIR-HPAM/VI/2022, B.612-INV/CUS/AEC/06/2022
1             20231014                             1712/DIR-HPAM/IX/2021
2             20230227                                                90
3             20201128                             1595/DIR-HPAM/XI/2016
4             20220913  1538/DIR-HPAM/X/2022, B.1008-INV/CUS/AEC/10/2022

   Tanggal Adendum Kode BK  Nilai Investasi Awal (IDR)  Kode Nasabah  \
0         20220623   BRI01                 75000000000             1
1         20210923   BMAN1                109910030739             2
2         20180523   BMAN1                 67566903320             2
3         20170324   BNGA1                138319270900             2
4         20221003   BRI01                  6000000000             1

   DN atau LN
0           1
1           1
2           1
3           1
4           1

In [5]:
df_kpd

,Nama KPD,SID,Fund Code,Nomor Kontrak,Tanggal Kontrak,Tanggal Jatuh Tempo,Nomor Adendum,Tanggal Adendum,Kode BK,Nilai Investasi Awal (IDR),Kode Nasabah,DN atau LN
0,Arief Effendi,IDD241125426718,HP002DFCARIFND00,"0273/DIR-HPAM/II/2021, B.235-INV/CDN/02/2021",20210219,20220219,"0921/DIR-HPAM/VI/2022, B.612-INV/CUS/AEC/06/2022",20220623,BRI01,75000000000,1,1
1,DANA PENSIUN GARUDA INDONESIA,PFD010191266377,HP002DFCDPGAHP00,12,20191014,20231014,1712/DIR-HPAM/IX/2021,20210923,BMAN1,109910030739,2,1
2,Dana Pensiun Perhutani,PFD250727028068,HP002DFCDPPHTN00,SPPJ/001/HPAM/II/2015,20150227,20230227,90,20180523,BMAN1,67566903320,2,1
3,DPLK JIWASRAYA,PFD160878727093,HP002DFCHPAMJR00,1595/DIR-HPAM/XI/2016,20161128,20201128,1595/DIR-HPAM/XI/2016,20170324,BNGA1,138319270900,2,1
4,Ir Basuki Widodo,IDD1911E0126961,HP002DFCBSKWDO00,"1646/DIR-HPAM/VI/2021, B.1496-INV/CDN/09/2021",20210913,20220913,"1538/DIR-HPAM/X/2022, B.1008-INV/CUS/AEC/10/2022",20221003,BRI01,6000000000,1,1
5,PT CHANDRA ASRI PETROCHEMICAL,CPD2902EEU96567,HP002DFCCAPTBK00,"055/PKS/DIR-TRE/2022,0472/DIR-HPAM/III/2022",20220324,20230324,0,0,BJB01,200200000000,2,1
6,PT Perta Life Insurance 17,ISD0706XT499743,HP002DFCKPDPLI00,"1834/DIR-HPAM/XII/2022,PO124/PLI/DIR/1222",20221212,20271212,0,0,DBJK1,65000000000,2,1
7,Riany,IDD0512H5298079,HP002DFCKRIANY00,"0751/DIR-HPAM/V/2022, B.529-INV/CUS/AEC/05/2022",20220523,20230523,0,0,BRI01,6000000000,1,1
8,Senawaty Kutiawan,IDD060985139341,HP002DFCSENKUR00,"0772/DIR-HPAM/V/2022, B.541-INV/CUS/AEC/05/2022",20220530,20230530,0,0,BRI01,7400000000,1,1
9,Soebronto Laras,IDD0510C0311737,HP002DFCSBRNTO00,"1645/DIR-HPAM/IX/2021, B.1497-INV/CDN/09/2021",20210913,20220913,"0224/DIR-HPAM/II/2022, B.166-INV/CDN/02/2022",20220218,BRI01,12800000000,1,1
10,Yayasan Kesejahteraan Pegawai Perum Perhutani ...,FDD240479707622,HP002DFCYKPHPA00,"1370/DIR-HPAM/IX/2020, 02/PK-YKP3JS/IX/2020",20200928,20240928,"1869/DIR-HPAM/X/2021, 09/PK-YKP3JS/X/2021",20211018,BMAN1,15000000000,2,1
11,YKK Pembangunan Perumahan - HPAM,FDD030174274052,HP002DFCHPYKKP00,SPPJ/001/HPAM/IV/2014,20140410,20230424,0708A/DIR-HPAM/IV/2020,20200424,BRI01,30000000000,2,1
12,Zhang Qian,IDD0811G0634384,HP002DFCZHANGQ00,"0274/DIR-HPAM/II/2021, B.236-INV/CDN/02/2021",20210219,20220219,"0885/DIR-HPAM/VI/2022, B.583-INV/CUS/AEC/06/2022",20220613,BRI01,73198736783,1,1

In [30]:
import pymssql
import pandas as pd
import numpy as np
import psycopg2

# Fungsi untuk menghubungkan ke database PostgreSQL
def connect_postgresql():
    try:
        conn = psycopg2.connect(
            host="192.168.7.81",
            port="5432",
            user="production",
            password="Prod69213!@",
            database="fundadmin"
        )
        print("Connection to PostgreSQL established successfully")
        return conn
    except psycopg2.Error as e:
        print("Error connecting to PostgreSQL:")
        print(e)
        return None

# Fungsi untuk menghubungkan ke database MSSQL
def connect_mssql(database='INVESTMENT'):
    try:
        conn = pymssql.connect(
            server='192.168.7.100',
            user='admin',
            password='SQLok4414@@!!',
            database=database
        )
        print(f"Connection to MSSQL database {database} established successfully")
        return conn
    except pymssql.Error as e:
        print("Error connecting to MSSQL:")
        print(e)
        return None

# Membuat koneksi ke database PostgreSQL
conn_postgresql = connect_postgresql()

# Membuat koneksi ke database MSSQL INVESTMENT
conn_mssql_investment = connect_mssql('INVESTMENT')

# Membuat koneksi ke database MSSQL SIAR
conn_mssql_siar = connect_mssql('SIAR')

# Mengecek apakah koneksi berhasil
if conn_postgresql is not None:
    cursor_postgresql = conn_postgresql.cursor()
    # Anda bisa melakukan operasi database dengan cursor_postgresql di sini

if conn_mssql_investment is not None:
    cursor_mssql_investment = conn_mssql_investment.cursor(as_dict=True)
    # Anda bisa melakukan operasi database dengan cursor_mssql_investment di sini

if conn_mssql_siar is not None:
    cursor_mssql_siar = conn_mssql_siar.cursor(as_dict=True)
    # Anda bisa melakukan operasi database dengan cursor_mssql_siar di sini

Connection to PostgreSQL established successfully
Connection to MSSQL database INVESTMENT established successfully
Connection to MSSQL database SIAR established successfully

In [27]:
# Pastikan koneksi dan kursor PostgreSQL telah dibuat
if conn_postgresql is not None and cursor_postgresql is not None:
    # Execute the query
    query = """ 
    SELECT DISTINCT
        p.fund_code,
        p.product_code_siar,
        p.product_code_siap,
        p.fund_name,
        p.fund_sid,
        p.npwp,
        p.launching_date,
        p.deactivation_date,
        c.custody_bank_code,
        c.custody_bank_name
    FROM products p
    JOIN custody_banks c ON p.custody_bank_id = c.id
    WHERE p.product_type_id = 1;
    """
    cursor_postgresql.execute(query)

    # Fetch the results
    results = cursor_postgresql.fetchall()

    # Create a DataFrame from the results
    df = pd.DataFrame(results, columns=[column[0] for column in cursor_postgresql.description])
    print(df)
else:
    print("Connection or cursor to PostgreSQL is not available")

           fund_code product_code_siar product_code_siap  \
0   HP002DFCYKPHPA00            YKP3JS            YKP3JS
1   HP002DFCZHANGQ00           ZHANG-Q           ZHANG-Q
2   HP002DFCHPMDCO00         KPD MEDCO         KPD MEDCO
3   HP002DFCSBRNTO00         SOEBRONTO         SOEBRONTO
4   HP002DFCDPSMGR00          KPD SMGR          KPD-SMGR
5   HP002DFCHPAMJR00    DPLK JIWASRAYA          KPD-JWSR
6   HP002DFCHPGPIB00          KPD GPIB          KPD-GPIB
7   HP002DFCAGUSWI04            AGUSWI        KPD-AGUSWI
8   HP002DFCSENKUR00          SENAWATY          SENAWATY
9        Belum ada 9        P DJATMIKO        P DJATMIKO
10  HP002DFCBSKWDO00            BASUKI            BASUKI
11  HP002DFCCAPTBK00           KPD CAP           KPD CAP
12  HP002DFCDPPHTN00     KPD PERHUTANI     KPD-PERHUTANI
13  HP002DFCKRIANY00             RIANY             RIANY
14  HP002DFCARIFND00           ARIEF-E           ARIEF-E
15  HP002DFCKURNIA00            KURNIA            KURNIA
16  HP002DFCDPGAHP00            DPGAHP    KPD-GARUDA IND
17  HP002DFCGBOTYG00            GBOTYG            GBOTYG
18  HP002DFCHPYKKP00             YKKPP             YKKPP
19  HP002DFCVKEMAN00       KPD VIKTORI       KPD VIKTORI
20  HP002DFCHNRTNJ00           HENRY-T           HENRY-T
21  HP002DFCHPBNIL00         KPAI BNIL         KPAI-BNIL
22  HP002DFCHPPKWD00       KPD PAKUWON       KPD-PAKUWON
23  HP002DFCAJTM9000            AJTM-9            AJTM-9
24  HP002DFCKPDPLI00            KPDPLI            KPDPLI

                                            fund_name             fund_sid  \
0                            YKP3 JATI SEJAHTERA HPAM      FDD240479707622
1                                          ZHANG QIAN      IDD0811G0634384
2                   PT MEDCO ENERGI INTERNASIONAL TBK      CPD090653741650
3                                 KPD SOEBRONTO LARAS      IDD0510L4627069
4           YAY DANA PENSIUN KARYAWAN PT SEMEN GRESIK      PFD270384059118
5   PT Henan Putihrai Asset Management SA DPLK Jiw...      PFD160878727093
6                              DANA PENSIUN GPIB HPAM      PFD101037914692
7                                        AGUS WIESENO      IDD051179652871
8                                KPD SENAWATY KUTIAWA      IDD060985139341
9                                 KPD PAULUS DJATMIKO               (NULL)
10                                  KPD BASUKI WIDODO  IDD1911E0126961\r\n
11                               PDNI HPAM - CAP FUND  CPD2902EEU96567\r\n
12                                       DP PERHUTANI      PFD250727028068
13                                          KPD RIANY  IDD0512H5298079\r\n
14                                      ARIEF EFFENDI      IDD241125426718
15                                             KURNIA      IDD220490748035
16                 Dana Pensiun Garuda Indonesia HPAM      PFD2208G4072002
17                                    GHO BOTY GOZALY      IDD1703J4131147
18                     YKK PEMBANGUNAN PERUMAHAN HPAM                 None
19                          PT VIKTORI KEMAN TRADINDO      CPD1811TK872619
20                                       HENRY TANOJO      IDD0307I0453187
21                        PT BNI LIFE INSURANCE HENAN      ISD281110109094
22                                   PT PAKUWON DARMA      CPD240379471863
23               Asuransi Jiwa Tugu Mandiri 9 1244317      ISD280636987410
24                         PT PERTA LIFE INSURANCE 17      ISD0706XT499743

                    npwp launching_date deactivation_date custody_bank_code  \
0        013325154063000     2017-05-29              None             BMAN1
1        061852836029000           None              None             BRI01
2        010020956081000     2019-11-25              None             BRI01
3   06.069.134.2-093.000     2021-10-01        2025-10-01             BRI01
4        011335239641000     2016-08-02        2020-09-16             DBSI1
5        016214009003000     2016-12-05              None             BNGA1
6        013862834025000     2016-04-20        2020-07-20             BRI01
7        041615006619000     2018-02-28              None             BRI01
8        768321051039000     2022-06-09        2025-06-09             BRI01
9   07.599.649.6-043.000     2021-10-27        2030-10-27             BRI01
10  29.565.410.7-016.000     2021-10-01        2025-10-01             BRI01
11   010620490092000\r\n     2022-03-23        2027-03-23             BJB01
12       017107749063000     2015-02-27              None             BMAN1
13   069376861403000\r\n     2022-06-09        2025-06-09             BRI01
14       040643967047000           None              None             BRI01
15       079180113404000           None              None             BRI01
16       013857495073000     2017-05-29              None             BMAN1
17       061852836029000     2020-01-23              None             BRI01
18       015715907009000     2014-03-27              None             BRI01
19       746649755027000           None              None             BRI01
20       087681060626000           None              None             BRI01
21       017852567093000     2017-05-29        2020-12-21             BMAN1
22       014693188631000     2015-06-26              None             BRI01
23       013945175071000     2015-05-21              None             DBJK1
24       013945175071000           None              None             DBJK1

                                    custody_bank_name
0                          BANK MANDIRI, PT - CUSTODY
1                 BANK RAKYAT INDONESIA (PERSERO), PT
2                 BANK RAKYAT INDONESIA (PERSERO), PT
3                 BANK RAKYAT INDONESIA (PERSERO), PT
4                               PT BANK DBS INDONESIA
5                             BANK CIMB NIAGA TBK, PT
6                 BANK RAKYAT INDONESIA (PERSERO), PT
7                 BANK RAKYAT INDONESIA (PERSERO), PT
8                 BANK RAKYAT INDONESIA (PERSERO), PT
9                 BANK RAKYAT INDONESIA (PERSERO), PT
10                BANK RAKYAT INDONESIA (PERSERO), PT
11  PT. Bank Pembangunan Daerah Jawa Barat Dan Ban...
12                         BANK MANDIRI, PT - CUSTODY
13                BANK RAKYAT INDONESIA (PERSERO), PT
14                BANK RAKYAT INDONESIA (PERSERO), PT
15                BANK RAKYAT INDONESIA (PERSERO), PT
16                         BANK MANDIRI, PT - CUSTODY
17                BANK RAKYAT INDONESIA (PERSERO), PT
18                BANK RAKYAT INDONESIA (PERSERO), PT
19                BANK RAKYAT INDONESIA (PERSERO), PT
20                BANK RAKYAT INDONESIA (PERSERO), PT
21                         BANK MANDIRI, PT - CUSTODY
22                BANK RAKYAT INDONESIA (PERSERO), PT
23                               BUT DEUTSCHE BANK AG
24                               BUT DEUTSCHE BANK AG

In [9]:
# Initialize an empty DataFrame to store the results
df2 = pd.DataFrame()

# Check if the connection and cursor to MSSQL are available
if conn_mssql is not None and cursor_mssql is not None:
    # Iterate over unique values in the product_code_siap column in df
    for portfolio_name in df['product_code_siap'].unique():
        # Execute the stored procedure
        query = f"exec sp_portofolio_report '07/31/2023', '{portfolio_name}';"
        cursor_mssql.execute(query)
        
        # Fetch the results
        results = cursor_mssql.fetchall()
        
        # Create a temporary DataFrame from the results
        temp_df = pd.DataFrame(results, columns=[column[0] for column in cursor_mssql.description])
        
        # Add the portfolio_name to the temporary DataFrame
        temp_df['product_code_siap'] = portfolio_name
        
        # Concatenate the temporary DataFrame to df2
        df2 = pd.concat([df2, temp_df], ignore_index=True)

    # Optional: Drop duplicates based on certain columns
    # df2 = df2.drop_duplicates(subset=['pfoliofname', 'InstrumentCode'])
else:
    print("Connection or cursor to MSSQL is not available")

df2

,pfoliofname,date,InstrumentCode,units,tradeble_shares,averageunitcost,totalcost,BV_Allocation,marketprice,marketvalue,UnGainLoss,PL,Impact,Allocation,Sector,counter,product_code_siap
0,KPD ZHANG QIAN,2023-07-31 23:59:00,BELL,268751300.0,7250000000.0,128.061856,34416802105.470001,36.14,122.0,32787658600.0,-1629143505.470001,-4.73,-1.711,34.426,IDXCYC,None,ZHANG-Q
1,KPD ZHANG QIAN,2023-07-31 23:59:00,BELL,268751300.0,7250000000.0,128.061856,34416802105.470001,36.14,122.0,32787658600.0,-1629143505.470001,-4.73,-1.711,34.426,IDXCYC,None,ZHANG-Q
2,KPD ZHANG QIAN,2023-07-31 23:59:00,CUAN,12511700.0,11241890000.0,995.0,12449141500.0,13.07,1740.0,21770358000.0,9321216500.0,74.87,9.787,22.858,IDXENER,None,ZHANG-Q
3,KPD ZHANG QIAN,2023-07-31 23:59:00,CUAN,12511700.0,11241890000.0,995.0,12449141500.0,13.07,1740.0,21770358000.0,9321216500.0,74.87,9.787,22.858,IDXENER,None,ZHANG-Q
4,KPD ZHANG QIAN,2023-07-31 23:59:00,SSIA,28769400.0,4705249440.0,379.683895,10923277992.66,11.47,468.0,13464079200.0,2540801207.34,23.26,2.668,14.137,IDXINFRA,None,ZHANG-Q
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KPD DANA PENSIUN GARUDA-HPAM,2023-07-31 23:59:00,INTA,64671000.0,3343935022.0,468.0,30266028000.0,34.06,50.0,3233550000.0,-27032478000.0,-89.32,-30.419,3.639,IDXINDUS,None,KPD-GARUDA IND
58,KPD SOEBRONTO LARAS,2023-07-31 23:59:00,TPIA,4043600.0,86511545092.0,2137.619691,8643679018.92,86.39,2120.0,8572432000.0,-71247018.92,-0.82,-0.712,85.677,IDXBASIC,None,SOEBRONTO
59,KPD SOEBRONTO LARAS,2023-07-31 23:59:00,TPIA,4043600.0,86511545092.0,2137.619691,8643679018.92,86.37,2120.0,8572432000.0,-71247018.92,-0.82,-0.712,85.662,IDXBASIC,None,SOEBRONTO
60,KPD SOEBRONTO LARAS,2023-07-31 23:59:00,SSIA,1684400.0,4705249440.0,484.538715,816156986.28,8.16,468.0,788299200.0,-27857786.28,-3.41,-0.278,7.877,IDXINFRA,None,SOEBRONTO
61,KPD SOEBRONTO LARAS,2023-07-31 23:59:00,SSIA,1684400.0,4705249440.0,484.538715,816156986.28,8.16,468.0,788299200.0,-27857786.28,-3.41,-0.278,7.879,IDXINFRA,None,SOEBRONTO

In [10]:
df['fund_sid'] = df['fund_sid'].replace(to_replace=r'\r\n', value='', regex=True)

In [19]:
result = df2.groupby('pfoliofname')[['totalcost','marketvalue','UnGainLoss']].sum().reset_index()
result

,pfoliofname,totalcost,marketvalue,UnGainLoss
0,DPLK Jiwasraya S/A PT. Henan Putihrai Asset Ma...,2.260985e+10,1.806325e+10,-4.546599e+09
1,KPD ARIEF EFFENDI,1.215405e+11,1.098410e+11,-1.169950e+10
2,KPD BASUKI WIDODO,8.915738e+09,7.700688e+09,-1.215050e+09
3,KPD DANA PENSIUN GARUDA-HPAM,2.143070e+11,1.541563e+11,-6.015072e+10
4,KPD DP PERHUTANI-HPAM,2.444454e+11,1.092726e+11,-1.351728e+11
5,KPD SENAWATY KUTIAWAN,1.251986e+10,1.091800e+10,-1.601858e+09
6,KPD SOEBRONTO LARAS,1.891967e+10,1.872146e+10,-1.982096e+08
7,KPD ZHANG QIAN,1.944264e+11,1.888576e+11,-5.568716e+09
8,PT Perta Life Insurance 17,1.424066e+11,1.338453e+11,-8.561351e+09
9,YKP3 Jati Sejahtera - HPAM,1.630427e+10,1.505473e+10,-1.249544e+09

In [23]:
df2['InstrumentCode'].unique()

array(['BELL           ', 'CUAN           ', 'SSIA', 'TPIA', 'BHIT',
       'INTA', 'KIAS', 'TARA           ', 'KPIG', 'KBRI           ',
       'MTFN', 'BORN           ', 'AKRA', 'JPFA', 'DSNG           ',
       'SCMA', 'BRPT', 'MTEL           '], dtype=object)

In [32]:
# Initialize an empty DataFrame to store the results
df3 = pd.DataFrame()

# Check if the connection and cursor to MSSQL SIAR are available
if conn_mssql_siar is not None and cursor_mssql_siar is not None:
    # Iterate over unique values in the product_code_siap column in df
    for portfolio_name in df['product_code_siap'].unique():
        # Execute the stored procedure
        query = f"exec dbo.Sproc_Rpt_NAVSummaryIDR '07/31/2023', '07/31/2023', '{portfolio_name}';"
        cursor_mssql_siar.execute(query)
        
        # Fetch the results
        results = cursor_mssql_siar.fetchall()
        
        # Create a temporary DataFrame from the results
        temp_df = pd.DataFrame(results, columns=[column[0] for column in cursor_mssql_siar.description])
        
        # Add the portfolio_name to the temporary DataFrame
        temp_df['product_code_siap'] = portfolio_name
        
        # Concatenate the temporary DataFrame to df3
        df3 = pd.concat([df3, temp_df], ignore_index=True)

    # Optional: Drop duplicates based on certain columns
    # df3 = df3.drop_duplicates(subset=['pfoliofname', 'InstrumentCode'])
else:
    print("Connection or cursor to MSSQL SIAR is not available")

In [35]:
df3

,NAVDate,value,TotalNetAsset,ProductCode,IHSG,DistributionUnit,NavPrecision,SF,RF,MF,...,ValPref,TotOSPref,TotNetAssetPref,DatePref,ProductName,Kurs,KursGen,CCY,LstMonth,product_code_siap
0,2023-07-31 00:00:00,14855593937.857901,14855593937.857901,YKP3JS,0.0,0.0000000000000,4,None,None,1.5,...,14991203046.84,0.0,14991203046.84,2023-07-28 00:00:00,YKP3 Jati Sejahtera-HPAM,None,None,IDR,15391203046.84,YKP3JS
1,2023-07-31 00:00:00,1700.0915,95241592659.619995,ZHANG-Q,0.0,0.0000000000000,4,None,None,2.0,...,1686.3419,0.0,94471320229.279999,2023-07-28 00:00:00,Zhang Qian - HPAM,None,None,IDR,1460.1436,ZHANG-Q
2,2023-07-31 00:00:00,10005491827.16,10005491827.16,SOEBRONTO,0.0,0.0000000000000,4,None,None,3.0,...,9967375821.889999,0.0,9967375821.889999,2023-07-28 00:00:00,Soebronto Laras - HPAM,None,None,IDR,9967375821.889999,SOEBRONTO
3,2023-07-31 00:00:00,6589073494.03,6589073494.03,SENAWATY,0.0,0.0000000000000,4,None,None,3.0,...,6561027317.86,0.0,6561027317.86,2023-07-28 00:00:00,Senawaty Kutiawan - HPAM,None,None,IDR,6561027317.86,SENAWATY
4,2023-07-31 00:00:00,4039139972.53,4039139972.53,BASUKI,0.0,0.0000000000000,4,None,None,3.0,...,4017330320.53,0.0,4017330320.53,2023-07-28 00:00:00,Basuki Widodo - HPAM,None,None,IDR,4017330320.53,BASUKI
5,2023-07-31 00:00:00,1053.4731,261977972315.269989,KPD CAP,0.0,0.0000000000000,4,None,None,0.2,...,1053.0816,0.0,261880626291.869995,2023-07-28 00:00:00,PDNI HPAM - CAP FUND,None,None,IDR,1063.2134,KPD CAP
6,2023-07-31 00:00:00,55569677282.5,55569677282.5,ARIEF-E,0.0,0.0000000000000,4,None,None,2.0,...,55166442170.580002,0.0,55166442170.580002,2023-07-28 00:00:00,Arief Effendi - HPAM,None,None,IDR,55166442170.580002,ARIEF-E
7,2023-07-31 00:00:00,1024.3386,30731180960.32,YKKPP,0.0,0.0000000000000,4,None,None,0.3,...,1025.1578,0.0,30755759978.709999,2023-07-28 00:00:00,Yayasan Kesejahteraan Karyawan PP,None,None,IDR,1015.3022,YKKPP
8,2023-07-31 00:00:00,1035.5472,67310569469.699997,KPDPLI,0.0,0.0000000000000,4,None,None,2.0,...,1022.6848,0.0,66474513975.040001,2023-07-28 00:00:00,PT Perta Life Insurance,None,None,IDR,1025.9544,KPDPLI

In [37]:
df3[['TotalNetAsset','product_code_siap']]

         TotalNetAsset product_code_siap
0   14855593937.857901            YKP3JS
1   95241592659.619995           ZHANG-Q
2       10005491827.16         SOEBRONTO
3        6589073494.03          SENAWATY
4        4039139972.53            BASUKI
5  261977972315.269989           KPD CAP
6        55569677282.5           ARIEF-E
7       30731180960.32             YKKPP
8   67310569469.699997            KPDPLI